<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<!-- Navigation bar -->
<nav class="navbar is-link is-fixed-top">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/">
                <span>Back</span>
            </a>

        </div>
    </div>
</nav>
</body>
</html>
