<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Application System</title>
    <link rel="shortcut icon" href="../static/pic/favicon.ico"/>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    {#  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">#}
    <link rel="stylesheet" href="../static/bulma/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/bulma/css/personal.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='login/css/login.css') }}">

    <link rel="stylesheet" type="text/css" href="../static/toastr/toastr.min.css">
    <link rel="stylesheet" href="../static/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="../static/animate/animate.css">
{#    <link rel="stylesheet" href="../static/bulma/hero/hero.css">#}
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css"/>

    <script src="../static/flatpickr/flatpickr.min.js"></script>

    <script async type="text/javascript" src="../static/bulma/js/bulma.js"></script>
    <script src="../static/bulma/js/jquery-3.4.1.min.js"></script>
    <script src="../static/toastr/toastr.min.js"></script>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
{#    <script src="../js/wild.js"></script>#}
    <script type="text/javascript">
        toastr.options = {
            closeButton: true,
            debug: false,
            progressBar: false,
            positionClass: "toast-top-right",
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "2000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };
    </script>

</head>
