<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% for message in messages %}
        <script type="text/javascript">
            toastr.{{ message[0] }}('{{ message[1] }}')
        </script>
    {% endfor %}
{% endwith %}
<!-- Navigation bar -->
<nav class="navbar is-link is-fixed-top">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="#about">
                <span class="icon">
                    <i class="fas fa-info"></i>
                </span>
                <span>About</span>
            </a>
            <div class="navbar-item has-dropdown is-hoverable" href="#services">
                <a class="navbar-link">
                   <span class="icon">
                       <i class="fas fa-bars"></i>
                   </span>
                    <span>Services</span>
                </a>
                <div class="navbar-dropdown">
                    <a href="#" class="navbar-item">
                        A
                    </a>
                    <a href="#" class="navbar-item">
                        B
                    </a>
                </div>
            </div>
            {% if current_user.is_authenticated %}
                <a class="navbar-item" href="/logout">
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span>Logout</span>
                </a>
            {% else %}
                <a class="navbar-item" href="/login">
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span>Log in</span>
                </a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Header -->
<section class="hero is-link is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">Hello!
            <h1 class="title is-1">
                {{ current_user.username }}
            </h1>
            <h2 class="subtitle is-3">
                Welcome to Test Application System
            </h2>
            <button id="start" class="button is-info">Start</button>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#start").click(function () {
                    {% if current_user.is_authenticated %}
                        $("#modal").addClass("is-active");
                    {% else %}
                        toastr.error("Please Login");
                    {% endif %}
                });
                $("#submit_application_cancel").click(function () {
                    $("#modal").removeClass("is-active");
                });
                $("#submit_application_delete").click(function () {
                    $("#modal").removeClass("is-active");
                });
            });
        </script>
    </div>
    <form method="post">
        {{ form.csrf_token }}

        <div class="modal" id="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Modal title</p>
                    <button class="delete" aria-label="close" id="submit_application_delete"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">{{ form.description.label }}</label>
                        <div class="control">
                            {{ form.description(class='textarea') }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.jira_ticket.label }}</label>
                        <div class="control">
                            {{ form.jira_ticket(class='input') }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.expect_time.label }}</label>
                        <div class="control">
                            {{ form.expect_time(class='input',type='text',id='except_time') }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.test_data.label }}</label>
                        <div class="control">
                            {{ form.test_data(class='input') }}
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            document.getElementById("except_time").flatpickr({
                                enableTime: true,
                                time_24hr: true,
                                defaultHour: 18,
                                defaultMinute: 30,
                                weekNumbers: true,
                            })
                        })
                    </script>
                </section>
                <footer class="modal-card-foot">
                    {{ form.submit(class='button is-success') }}
                    <button class="button" id="submit_application_cancel">Cancel</button>
                </footer>
            </div>
        </div>
    </form>

</section>
<section class="section" id="history">
    <div class="section-heading">
        <h3 class="title is-2">History</h3>
        <h4 class="subtitle is-5">Test application submitted</h4>
    </div>
    <div class="container" id="applications">
        {% for application in pagination.items %}
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">
                                {{ application.jira_ticket }}
                                <span class="tag is-success">Done</span>
                            </p>
                            <p class="subtitle"> @{{ application.author }}</p>
                        </div>
                    </div>
                    <div class="content">
                        {{ application.description }}
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <time>{{ application.create_time }}</time>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <button class="button is-info is-right">Detail</button>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

    <nav class="pagination is-right" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% for page in pagination.iter_pages(left_edge=2, left_current=2) %}
                {% if page == pagination.page %}
                    <li>
                        <a class="pagination-link is-current" aria-label="Page {{ page }}" aria-current="page">{{ page }}</a>
                    </li>
                {% elif page == None %}
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                {% else %}
{#                                            href="{{ url_for('get_page',page=page) }}"#}
                    <a class="pagination-link" aria-label="Page {{ page }}" aria-current="page" onclick="get_page({{ page }})">{{ page }}</a>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <script type="text/javascript">
        function get_page(_page) {
            $.ajax(
                {
                    type: 'GET',
                    url: '/page/' + _page,
                    dataType: 'html',
                    success: function (data) {
                        $("#history").html(data)
                    }
                }
            )
        }
    </script>
</section>

<!-- Footer -->
<footer class="footer">
    <div class="section-heading">
        <p>
            <strong><a href="https://github.com/tblxdezhu/TestApplications">Test Application System</a></strong> by Zhenxuan.Xu. The
            source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
    </div>
</footer>
</body>

</html>
