<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% for message in messages %}
        <script type="text/javascript">
            toastr.{{ message[0] }}('{{ message[1] }}')
        </script>
    {% endfor %}
{% endwith %}
<!-- Navigation bar -->
<nav class="navbar is-link is-fixed-top">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="#about">
                <span class="icon">
                    <i class="fas fa-info"></i>
                </span>
                <span>About</span>
            </a>
            <div class="navbar-item has-dropdown is-hoverable" href="#services">
                <a class="navbar-link">
                   <span class="icon">
                       <i class="fas fa-bars"></i>
                   </span>
                    <span>Services</span>
                </a>
                <div class="navbar-dropdown">
                    <a href="#" class="navbar-item">
                        A
                    </a>
                    <a href="#" class="navbar-item">
                        B
                    </a>
                </div>
            </div>
            <a class="navbar-item" href="#resume">
                <span class="icon">
                    <i class="fas fa-file-alt"></i>
                </span>
                <span>Resume</span>
            </a>
            <a class="navbar-item" href="#portfolio">
                <span class="icon">
                    <i class="fas fa-th-list"></i>
                </span>
                <span>Portfolio</span>
            </a>
            {% if current_user.is_authenticated %}
                <a class="navbar-item" href="/logout">
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span>Logout</span>
                </a>
            {% else %}
                <a class="navbar-item" href="/login">
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span>Log in</span>
                </a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Header -->
<section class="hero is-link is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">Hello!
            <h1 class="title is-1">
                {{ current_user.username }}
            </h1>
            <h2 class="subtitle is-3">
                Welcome to Test Application System
            </h2>
            <button id="start" class="button is-info">Start</button>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#start").click(function () {
                    {% if current_user.is_authenticated%}
                        $("#modal").addClass("is-active");
                    {% else %}
                        toastr.error("Please Login")
                    {% endif %}
                });
                $("#submit_application_cancel").click(function () {
                    $("#modal").removeClass("is-active");
                });
                $("#submit_application_delete").click(function () {
                    $("#modal").removeClass("is-active");
                });
            });
        </script>
    </div>
    <form method="post">
        {{ form.csrf_token }}

        <div class="modal" id="modal">
            <div class="modal-background"></div>
            <div class="modal-card">

                <header class="modal-card-head">
                    <p class="modal-card-title">Modal title</p>
                    <button class="delete" aria-label="close" id="submit_application_delete"></button>
                </header>
                <section class="modal-card-body">

                    <div class="field">
                        <label class="label">{{ form.description.label }}</label>
                        <div class="control">
                            {{ form.description(class='textarea') }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.jira_ticket.label }}</label>
                        <div class="control">
                            {{ form.jira_ticket(class='input') }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.expect_time.label }}</label>
                        <div class="control">
                            <input id="except_time" type="text" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.test_data.label }}</label>
                        <div class="control">
                            {{ form.test_data(class='input') }}
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            document.getElementById("except_time").flatpickr({
                                enableTime: true,
                                time_24hr: true,
                                defaultHour: 18,
                                defaultMinute: 30,
                                weekNumbers: true,
                            })
                        })
                    </script>
                </section>
                <footer class="modal-card-foot">
                    {{ form.submit(class='button is-success') }}
                    <button class="button" id="submit_application_cancel">Cancel</button>
                </footer>
            </div>
        </div>
    </form>

</section>

<!-- About -->
<section class="section" id="about">
    <!-- Title -->
    <div class="section-heading">
        <h3 class="title is-2">About Me</h3>
        <h4 class="subtitle is-5">Jack of all trades, master of "some"</h4>
        <div class="container">
            <p>Web developer with more than <strong>4 years</strong> of well-rounded experience with a degree in the
                field of
                <strong>Computer Science</strong>, extensive knowledge of modern Web techniques and love for <strong>Coffee</strong>.
                Looking for an opportunity to work and upgrade, as well as being involved in an organization that
                believes
                in gaining a competitive edge and giving back to the community.</p>
        </div>
    </div>

    <div class="columns has-same-height is-gapless">
        <div class="column">
            <!-- Profile -->
            <div class="card">
                <div class="card-content">
                    <h3 class="title is-4">Profile</h3>

                    <div class="content">
                        <table class="table-profile">
                            <tr>
                                <th colspan="1"></th>
                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td>Guru's Lab</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>0123-456789</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>minion@despicable.me</td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <div class="buttons has-addons is-centered">
                        <a href="#" class="button is-link">Github</a>
                        <a href="#" class="button is-link">LinkedIn</a>
                        <a href="#" class="button is-link">Twitter</a>
                        <a href="#" class="button is-link">CodeTrace</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <!-- Profile picture -->
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="" alt="Placeholder image">
                    </figure>
                </div>
            </div>
        </div>
        <div class="column">
            <!-- Skills -->
            <div class="card">
                <div class="card-content skills-content">
                    <h3 class="title is-4">Skills</h3>
                    <div class="content">

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>JavaScript:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="90" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Vue.js:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="90" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Node.js:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="75" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>HTML5/CSS3</strong>
                                        <br>
                                        <progress class="progress is-primary" value="95" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Databases</strong>
                                        <br>
                                        <progress class="progress is-primary" value="66" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Skills tags -->
<!-- <br>
      <div class="tags custom-tags">
        <span class="tag is-light">Node.js</span><span class="tag is-light">Express.js</span><span class="tag is-light">VueJS</span><span
          class="tag is-light">JavaScript</span><span class="tag is-light">HTML5</span><span class="tag is-light">Canvas</span><span
          class="tag is-light">CSS3</span><span class="tag is-light">Bulma</span><span class="tag is-light">Bootstrap</span><span
          class="tag is-light">jQuery</span><span class="tag is-light">Pug</span><span class="tag is-light">Stylus</span><span
          class="tag is-light">SASS/SCSS</span><span class="tag is-light">Webpack</span><span class="tag is-light">Git</span><span
          class="tag is-light">ASP.NET Web Forms</span><span class="tag is-light">MSSQL</span><span class="tag is-light">MongoDB</span><span
          class="tag is-light">Apache Cordova</span><span class="tag is-light">Chrome Extensions</span>
      </div> -->

<!-- Services -->
<section class="section" id="services">
    <div class="section-heading">
        <h3 class="title is-2">Services</h3>
        <h4 class="subtitle is-5">What can I do for you?</h4>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <div class="content">
                        <h4 class="title is-5">Front End Web Development</h4>
                        Develop Front End using latest standards with HTML5/CSS3 with added funtionality using
                        JavaScript and
                        Vue.js.
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <div class="content">
                        <h4 class="title is-5">Back End Web Development</h4>
                        Develop Back End application/service using Node.js or ASP .NET and SQL server or Mongo DB
                        databases.
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="box">
                    <div class="content">
                        <h4 class="title is-5">Front End Web Development</h4>
                        Develop Front End using latest standards with HTML5/CSS3 with added funtionality using
                        JavaScript and
                        Vue.js.
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <div class="content">
                        <h4 class="title is-5">Back End Web Development</h4>
                        Develop Back End application/service using Node.js or ASP .NET and SQL server or Mongo DB
                        databases.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Resume -->
<section class="section" id="resume">
    <div class="section-heading">
        <h3 class="title is-2">Resume</h3>
        <h4 class="subtitle is-5">More about my past</h4>
        <a href="#" class="button is-link is-medium">
        <span class="icon">
          <i class="fas fa-file-alt"></i>
        </span>
            <span>Download My Resume</span>
        </a>
    </div>
</section>


<!-- Achievement Level -->
<!-- <section class="section">
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Tweets</p>
        <p class="title">3,456</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Following</p>
        <p class="title">123</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Followers</p>
        <p class="title">456K</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Likes</p>
        <p class="title">789</p>
      </div>
    </div>
  </nav>
</section> -->


<!-- Contact -->
<section class="section" id="contact">
    <div class="container">
        <div class="section-heading">
            <h3 class="title is-2">Contact</h3>
            <h4 class="subtitle is-5">Get in touch</h4>
        </div>
        <br>

        <div class="columns">
            <div class="column is-6 is-offset-3">
                <div class="box">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left">
                            <input class="input" type="email" placeholder="Email input" value="">
                            <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Textarea"></textarea>
                        </div>
                    </div>

                    <div class="field is-grouped has-text-centered">
                        <div class="control">
                            <button class="button is-link is-large"><span class="icon">
                    <i class="fas fa-envelope"></i>
                  </span>
                                <span>Submit</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Footer -->
<footer class="footer">
    <div class="section-heading">
        <p>
            <strong>Bulma Personal Template</strong> by <a href="https://mubaidr.js.org">Muhammad Ubaid Raza</a>. The
            source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
    </div>
</footer>
</body>

</html>
