<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% for message in messages %}
        <script type="text/javascript">
            toastr.{{ message[0] }}('{{ message[1] }}')
        </script>
    {% endfor %}
{% endwith %}
<!-- Navigation bar -->
<nav class="navbar is-link is-fixed-top">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">

            <div class="navbar-item has-dropdown is-hoverable" href="#services">
                <a class="navbar-link">
                    <span>Histories</span>
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item " id="history_myself">
                        Yourself
                    </a>
                    <a class="navbar-item " id="history_all">
                        All
                    </a>
                </div>
                {#                <script type="text/javascript">#}
                {#                    $(document).ready(function () {#}
                {#                        $("#history_myself").click(function () {#}
                {#                             $.ajax(#}
                {#                                {#}
                {#                                    type: 'GET',#}
                {#                                    url: '/history/{{ current_user.username }}',#}
                {#                                    dataType: 'html',#}
                {#                                    success: function (data) {#}
                {#                                        $("#history").html(data)#}
                {#                                    }#}
                {#                                }#}
                {#                            )#}
                {#                        })#}
                {#                    })#}
                {#                </script>#}
            </div>
            {% if current_user.is_authenticated %}
                <a class="navbar-item" href="/logout">
                    <span>Logout</span>
                </a>
            {% else %}
                <a class="navbar-item" href="/login">
                    <span>Log in</span>
                </a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Header -->
<section class="hero is-link is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">Hello!
            <h1 class="title is-1">
                {{ current_user.username }}
            </h1>
            <h2 class="subtitle is-3">
                Welcome to Test Application System
            </h2>
            <button id="start" class="button is-info">Start</button>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#start").click(function () {
                    {% if current_user.is_authenticated %}
                        $("#modal").addClass("is-active");
                    {% else %}
                        toastr.error("Please Login");
                    {% endif %}
                });
                $("#submit_application_cancel").click(function () {
                    $("#modal").removeClass("is-active");
                });
                $("#submit_application_delete").click(function () {
                    $("#modal").removeClass("is-active");
                });

            });
        </script>
    </div>
    <form method="post">
        {{ form.csrf_token }}

        <div class="modal" id="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Create Application</p>
                    <button class="delete" aria-label="close" id="submit_application_delete"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Team</label>
                        <div class="control">
                            <div class="select">
                                {{ form.team() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.description.label }}</label>
                        <div class="control">
                            {{ form.description(class='textarea',placeholder='发起测试的原因/测试功能') }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.jira_ticket.label }}</label>
                        <div class="control">
                            {{ form.jira_ticket(class='input',placeholder='本测试对应的 JIRA Ticket') }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.expect_time.label }}</label>
                        <div class="control">
                            {{ form.expect_time(class='input',type='text',id='except_time',placeholder='期望完成时间') }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.test_data.label }}</label>
                        <div class="control">
                            {{ form.test_data(class='input') }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.test_branches.label }}</label>
                        <div class="control">
                            <textarea class="textarea" id="test_branches" name="test_branches" placeholder="">algorithm_common: &#10;algorithm_common_slam: &#10;algorithm_vehicle_svm:&#10;</textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.compare_branches.label }}</label>
                        <div class="control">
                            {{ form.compare_branches(class='textarea',placeholder='未指明默认使用master分支') }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.notes.label }}</label>
                        <div class="control">
                            {{ form.notes(class='textarea',placeholder='1.配置信息
2.验收标准
3.其他注意事项') }}
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            document.getElementById("except_time").flatpickr({
                                enableTime: true,
                                time_24hr: true,
                                defaultHour: 18,
                                defaultMinute: 30,
                                weekNumbers: true,
                            })
                        })
                    </script>
                </section>
                <footer class="modal-card-foot">
                    {{ form.submit(class='button is-success') }}
                    <button class="button" id="submit_application_cancel">Cancel</button>
                </footer>
            </div>
        </div>
    </form>

</section>
<section class="section" id="history">
    {% include 'paginations.html' %}
</section>

<!-- Footer -->
<footer class="footer">
    <div class="section-heading">
        <p>
            <strong><a href="https://github.com/tblxdezhu/TestApplications">Test Application System.</a></strong> The
            source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
    </div>
</footer>
</body>

</html>
