<!DOCTYPE html>
<html>

{% include 'header.html' %}

<body>

<section class="hero is-success is-fullheight">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for message in messages %}
            <script type="text/javascript">
                toastr.{{ message[0] }}('{{ message[1] }}')
            </script>
        {% endfor %}
    {% endwith %}
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Login</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-black">Please login to proceed.</p>
                <div class="box">
                    <figure class="avatar">
                        <img src="{{ url_for('static',filename='pic/keji.jpeg') }}">
                    </figure>
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="field">
                            <div class="control">
                                {{ form.username(class='input is-large',placeholder='Username') }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                {{ form.password(class='input is-large',placeholder='Password') }}
                            </div>
                        </div>
                        <div class="field">
                            {{ form.remember }}
                            {{ form.remember.label }}
                        </div>
                        {{ form.submit(class='button is-block is-info is-large is-fullwidth') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>
