<div class="section-heading">
    <h3 class="title is-2">History</h3>
    <h4 class="subtitle is-5">Test application submitted</h4>
</div>
<div class="container" id="applications">
    {% for application in pagination.items %}
        <div class="card is-shady">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">
                        <a href="/applications/{{ application.id }}">{{ application.jira_ticket }}</a>
                            {% if application.status == 'todo' %}
                                <span class="tag">{{ application.status }}</span>
                            {% elif application.status == 'Pass' %}
                                <span class="tag is-success">{{ application.status }}</span>
                            {% else %}
                                <span class="tag is-danger">{{ application.status }}</span>
                            {% endif %}
                        </p>
                        <p class="subtitle"> @{{ application.author.username }}</p>
                    </div>
                </div>
                <div class="content">
                    {{ application.description }}
                </div>
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <time>{{ application.create_time }}</time>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <button class="button is-link is-right" id="detail-{{ application.id }}">Detail</button>
                        </div>
                    </div>
                    <div class="modal" id="modal-{{ application.id }}">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">{{ application.jira_ticket }}</p>
                                <button class="delete" aria-label="close"
                                        id="application_{{ application.id }}_delete"></button>
                            </header>
                            <section class="modal-card-body">
                                <div class="field">
                                    <label class="label">Owner</label>
                                    <div class="control">
                                        {{ application.author.username }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Description</label>
                                    <div class="control">
                                        {{ application.description }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Create Time</label>
                                    <div class="control">
                                        {{ application.create_time }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Except Time</label>
                                    <div class="control">
                                        {{ application.expected_time }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Test Data</label>
                                    <div class="control">
                                        {{ application.test_data }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Test Branches</label>
                                    <div class="control">
                                        {{ application.branches }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Base Branches</label>
                                    <div class="control">
                                        {{ application.compare_branches }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Notes</label>
                                    <div class="control">
                                        {{ application.notes }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Test Records</label>
                                    <div class="control">
                                        {{ application.test_description }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Test report</label>
                                    <div class="control">
                                        <a href="{{ application.test_report_link }}">{{ application.test_report_link }}</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#detail-{{ application.id }}").click(function () {
                                $("#modal-{{ application.id }}").addClass("is-active");
                            });
                            $("#application_{{ application.id }}_delete").click(function () {
                                $("#modal-{{ application.id }}").removeClass("is-active");
                            });
                        });
                    </script>
                </nav>
            </div>
        </div>
        <br>
    {% endfor %}
</div>

<nav class="pagination is-right" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
        {% for page in pagination.iter_pages(left_edge=2, left_current=2) %}
            {% if page == pagination.page %}
                <li>
                    <a class="pagination-link is-current" aria-label="Page {{ page }}"
                       aria-current="page">{{ page }}</a>
                </li>
            {% elif page == None %}
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
            {% else %}
                <a class="pagination-link" aria-label="Page {{ page }}" aria-current="page"
                   onclick="get_page({{ page }})">{{ page }}</a>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
<script type="text/javascript">
    function get_page(_page) {
        $.ajax(
            {
                type: 'GET',
                url: '/page/' + _page,
                dataType: 'html',
                success: function (data) {
                    $("#history").html(data)
                }
            }
        )
    }
</script>