<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<!-- Navigation bar -->
<nav class="navbar is-link is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">Test Application System</a>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        <div class="column is-full">
            <div class="content">
                <ol type="1">
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ol>
                <ol type="A">
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ol>
                <ol type="a">
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ol>
                <ol type="I">
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ol>
                <ol type="i">
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ol>
            </div>
        </div>
    </div>
</section>
</body>
</html>
